:root {
  font-family: 'Tektur', cursive;
  --prymary : whitesmoke;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color:inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #080913;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: var(--prymary);
}